################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
/vcpkg_installed
ClientCppProject.vcxproj.user
